body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mode-btn {
  position: absolute;
}

.node-btn {
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
}

.hidden {
  display: none;
}

.textarea {
  text-align: center;
}
.node-input {
  font-size: 1.1rem;
}

.disabled {
  opacity: 0.3;
}
