@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: "Poppins";
}

.options {
  position: fixed;
  padding: 1%;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

#mode-btn {
  position: absolute;
  width: 10vw;
  height: 10vw;
  bottom: -5%;
  right: -5%;
  border-radius: 50%;
  border: none;
  background-color: #94a3b8;
}

.mode-off {
  opacity: 0.5;
}

.btn {
  width: 10vw;
  height: 10vh;
  font-size: 2vh;
  border-radius: 10px;
  margin-bottom: 5%;
  border: none;
  color: white;
  font-weight: 700;
  display: none;
}

#menu-btn {
  background-color: #f43f5e;
  display: block;
}

#add-member-btn {
  background-color: #16a34a;
}

#import-btn {
  background-color: #279baf;
}

.save-btn {
  background-color: #1d4ed8;
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  overflow: hidden;
}

.show {
  display: block;
}

.node-btn {
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
}

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.3;
}

.done-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 99;
}

.popup-input {
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  margin-top: -5%;
}

.img-container {
  float: right;
  margin: 10px;
  cursor: pointer;
}

.input-container {
  display: flex;
}

#input-container-top {
  flex: 1;
}

#input-container-popup {
  margin: 10px;
}

/* Styling Info Container*/
.info-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  z-index: 98;
}
.popup-info {
  position: relative;
  max-width: 500px;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-info img {
  width: 100%;
  height: 100%;
}

.tips {
  padding-right: 5%;
}

/* https://codepen.io/avstorm/pen/gKGbxo */
.inp {
  position: relative;
  max-width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0;
  cursor: pointer;
}

.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
  padding-top: 10px;
  padding-left: 14px;
}

.inp input:not(:-moz-placeholder-shown) + .label {
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:-ms-input-placeholder) + .label {
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown) + .label {
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 #32bea6;
}

.inp input:focus + .label {
  color: #32bea6;
  transform: translate3d(0, -15px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 20vw;
  }
}
